@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

/* $black: #171a21ff;
$nickel: #617073ff;
$light-green: #68b684ff;
$dark-green: #337357ff;
$red: #db504aff; */

* {
	box-sizing: border-box;
}

body {
	font-family: "Nunito", sans-serif;
	margin: 0;
	display: grid;
	place-items: center;
	height: 100vh;
	width: 100vw;
	background: url("assets/pizza-pattern.png") repeat;
}

pwa-install::part(openButton) {
	position: absolute;
	top: 15px;
	right: 5px;
	border-radius: 5px;
	background: transparent;
	border: 1px solid white;
}
pwa-install::part(openButton):hover {
	background: white;
	color: #337357;
}

pwa-install::part(installModal) #buttonsContainer button {
	background: #337357;
}
